<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink = "/recepcionista" mat-list-item style="color:white">
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>
    <button mat-list-item routerLink = "/recepcionista/profile"style="color:white">
      <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
    </button>
    <button routerLink = "/recepcionista/registrarpedido" mat-list-item style="color:white">
      <mat-icon mat-list-icon>list</mat-icon> Registrar Pedido
    </button>
    <button routerLink = "/recepcionista/consultarproducto" mat-list-item style="color:white">
      <mat-icon mat-list-icon>list</mat-icon>  Consultar Producto
    </button>
    <button routerLink = "/recepcionista/pedidos" mat-list-item style="color:white">
      <mat-icon mat-list-icon>list</mat-icon> Administrar Pedidos
    </button>
   
    <button  mat-list-item style="color:white">
      <mat-icon mat-list-icon>list</mat-icon> Consultar Cita
    </button>
    <button  mat-list-item style="color:white">
      <mat-icon mat-list-icon>list</mat-icon> Registrar Cita
    </button>
    <button routerLink = "/recepcionista/listadecitas" mat-list-item style="color:white">
      <mat-icon mat-list-icon>list</mat-icon> Administrar Cita
    </button>
  
    
  </mat-action-list>
</mat-card>
