<div class="bootstrap-wrapper mt-5">

    <div class="container">

        <div class="row mt-20">

            <div class="col-md-6 offset-md-3">

                <mat-card>

                    <div class="row">

                        <div class="col-md-6">

                            <h1 class="text-center mt-4">Restablecer Contraseña</h1>

                            <form>

                                <mat-form-field class="full-width" appearance="outline">

                                    <mat-label>Ingrese usuario</mat-label>

                                    <input name="username" required matInput placeholder="Digite su nombre de usuario">

                                    <mat-hint>El nombre de usuario debe ser válido</mat-hint>

                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="outline">

                                    <mat-label>Ingrese correo electronico</mat-label>

                                    <input name="email" required matInput placeholder="Digite su correo electronico">

                                    <mat-hint>El correo electronico debe ser válido</mat-hint>

                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="outline">

                                    <mat-label>Ingrese nueva contraseña</mat-label>

                                    <input name="password" required type="password" matInput

                                        placeholder="Digite su contraseña">




                                </mat-form-field>




                                <div class="container text-center mt-4">

                                    <button type="submit" mat-raised-button color="primary" routerLink="/login">Restablecer</button>

                                </div>

                            </form>




                        </div>

                        <div class="col-md-6">

                            <div class="container-fluid text-center ">

                                <img height="400" width="230" src="../../../assets/image 10.png"

                                    alt="Imagen de registro">

                            </div>

                        </div>

                    </div>

                </mat-card>

            </div>

        </div>

    </div>

</div>
