<mat-card class="mt20">
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card-header>
          <mat-card-title>
           Usuario Recepcionista
          </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>Panel de recepcionista</mat-card-subtitle>
        <mat-card-content class="ml30">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br>
          <h1>Sus funciones : </h1>
          <ul>
            <li>Gestionar los Pedidos</li>
            <li>Gestionar las Citas</li> 
            <li>Gestionar los Clientes</li>    
            
       
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </div>
    </div>
   </div>
</mat-card>
