<div class="sidebar-container">
  <mat-card class="sidebar-card">
    <mat-action-list>
      <h2 [align]="'center'">Menu</h2>
      <button routerLink="/catalogo/" mat-list-item>
        <mat-icon mat-list-icon>quiz</mat-icon>Inicio
      </button>
      <button mat-list-item routerLink="/user/profile" >
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>
      <button mat-list-item routerLink="/user/miscitas" >
        <mat-icon mat-list-icon>account_circle</mat-icon>Mis citas
      </button>
      <button mat-list-item routerLink="/user/miscompras" >
        <mat-icon mat-list-icon>account_circle</mat-icon>Mis compras
      </button>
    </mat-action-list>
  
  </mat-card>
</div>





